 <!-- ======= Footer ======= -->
    <footer id="footer" class="footer dark-background">
      <div class="container footer-top">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-about">
            <a href="index.html" class="logo d-flex align-items-center">
              <span class="sitename">TrackShield</span>
            </a>
            <p>AI-powered railway safety monitoring system. Protect trains, staff, and passengers with real-time alerts
              and reports.</p>
            <div class="social-links d-flex mt-4">
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>



          <div class="col-lg-3 col-md-12 footer-contact">
            <h4>Contact Us</h4>
            <p>A108 Railway Street</p>
            <p>New York, NY 535022</p>
            <p>United States</p>
            <p class="mt-4"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
            <p><strong>Email:</strong> <span>support@trackshield.com</span></p>
          </div>

        </div>
      </div>

      <div class="container copyright text-center mt-4">
        <p>© <span>TrackShield</span> All Rights Reserved</p>
        <div class="credits">Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a></div>
      </div>
    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS -->
    <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/vendor/php-email-form/validate.js"></script>
    <script src="/static/assets/vendor/aos/aos.js"></script>
    <script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main JS -->
    <script src="/static/assets/js/main.js"></script>

</body>

</html>